@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html, body {
  margin: 0px;
  font-family: roboto;
}

.bg {
  top: 0px;
  left: 0px;
  background: transparent url("../res/bg.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nintendo3ds {
  background: transparent url("../res/3ds.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  position: absolute;
  width: 645px;
  height: 727px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nintendo3ds .display {
  width: 409px;
  height: 248px;
  margin: 71px;
  border-radius: 5px;
  background: #84cb70;
  background: -webkit-gradient(linear, left bottom, left top, from(#84cb70), color-stop(35%, #a5d53e), to(#feffef));
  background: linear-gradient(0deg, #84cb70 0%, #a5d53e 35%, #feffef 100%);
  overflow: hidden;
}

.nintendo3ds .display .dialogue {
  color: white;
  background: #052c54;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 44, 84, 0.94564)), to(rgba(15, 102, 182, 0.791145)));
  background: linear-gradient(0deg, rgba(5, 44, 84, 0.94564) 0%, rgba(15, 102, 182, 0.791145) 100%);
  background-blend-mode: multiply;
  font-size: 10pt;
  border-radius: 6px;
  border: 1px solid white;
  height: 30px;
  width: 380px;
  margin: 6px;
  padding: 8px;
  margin-top: -16px;
  position: absolute;
}

.nintendo3ds .display .dialogue .values {
  font-weight: 600;
  color: #fff6a3;
  text-transform: uppercase;
}

.nintendo3ds .display .scene {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nintendo3ds .display .scene .standing-spot {
  background-color: #cbe78a;
  border-radius: 50%;
  height: 35px;
  width: 160px;
  position: absolute;
  z-index: -1;
}

.nintendo3ds .display .scene .own {
  margin-top: 152px;
  margin-left: -200px;
}

.nintendo3ds .display .scene .enemy {
  margin-top: 84px;
  margin-right: -200px;
}

.nintendo3ds .display .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -30px;
  padding: 8px;
  text-transform: capitalize;
  font-weight: 800;
  font-family: Roboto;
  font-size: 11pt;
  color: black;
}

.nintendo3ds .display .stats .enemy-stats .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nintendo3ds .display .stats .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nintendo3ds .display .stats .row1 span {
  padding: 4px;
}

.nintendo3ds .display .stats .row1 .current-hp {
  color: #5ba668;
}

.nintendo3ds .display .stats .row2 {
  border: 1px solid white;
  border-radius: 5px;
}

.nintendo3ds .display .stats .row2 .total-hp-graphic {
  width: 160px;
  height: 7px;
  background-color: #5ba6675b;
  border-radius: 5px;
}

.nintendo3ds .display .stats .row2 .current-hp-graphic {
  width: 100%;
  height: 7px;
  background-color: #5ba668;
  border-radius: 5px;
  margin-top: -7px;
  -webkit-transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
}

.nintendo3ds .secondary-display {
  width: 325px;
  height: 245px;
  border-radius: 3px;
  background: #2e9e90;
  background: radial-gradient(circle, #2e9e90 0%, #5bb922 63%, #9ef181 100%);
}

.nintendo3ds .secondary-display .moves-display {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 92%;
  padding: 10px;
}

.nintendo3ds .secondary-display .moves-display .move {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 50%;
  text-align: end;
  padding-right: 20px;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.nintendo3ds .secondary-display .end {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 34%;
  width: 51%;
  margin-top: -21px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nintendo3ds .secondary-display .end .restart {
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding: 20px;
  border: 1px solid white;
  border-radius: 6px;
}

.nintendo3ds .secondary-display .end .restart i {
  font-size: 16pt;
  margin: 4px;
}

.nintendo3ds .secondary-display .end .restart:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.nintendo3ds .flicker {
  background-color: #00ff22;
  width: 5px;
  height: 10px;
  margin-left: 466px;
  margin-top: -10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
  mix-blend-mode: color-dodge;
}

.nintendo3ds .flicker2 {
  background-color: rgba(0, 195, 255, 0.986);
  width: 5px;
  height: 10px;
  margin-left: 412px;
  margin-top: 34px;
  border-radius: 10px 10px 10px 10px;
  -webkit-animation: flicker2 6s ease-in-out infinite;
          animation: flicker2 6s ease-in-out infinite;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .4;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.99;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .4;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.99;
  }
}

@-webkit-keyframes flicker2 {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.2;
  }
}

@keyframes flicker2 {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.2;
  }
}

.light-overlay {
  width: 50%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#FEFBDF), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #FEFBDF, rgba(255, 255, 255, 0));
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}

.pkmn {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
}

.pkmn-own {
  margin-bottom: -79px;
}
/*# sourceMappingURL=style.css.map */