$bg-color: white;
$bg-color-scene: #b8cb70;
$light-color: #FEFBDF;

html, body {
    margin: 0px;
    font-family: roboto;
}

.bg {
    top: 0px;
    left: 0px;
    background: transparent url('../res/bg.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nintendo3ds {
    background: transparent url('../res/3ds.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    position: absolute;
    width: 645px;
    height: 727px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .display {
        width: 409px;
        height: 248px;
        margin: 71px;
        border-radius: 5px;
        background: rgb(132,203,112);
        background: linear-gradient(0deg, rgba(132,203,112,1) 0%, rgba(165,213,62,1) 35%, rgba(254,255,239,1) 100%);
        overflow: hidden;

        .dialogue {
            color: white;
            background: rgb(5,44,84);
            background: linear-gradient(0deg, rgba(5,44,84,0.9456396210059691) 0%, rgba(15,102,182,0.7911452389834972) 100%);
            background-blend-mode: multiply;
            font-size: 10pt;
            border-radius: 6px;
            border: 1px solid white;
            height: 30px;
            width: 380px;
            margin: 6px;
            padding: 8px;
            margin-top: -16px;
            position:absolute;

            .values {
                font-weight: 600;
                color: #fff6a3;
                text-transform: uppercase;
            }
        }

        .scene {
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .standing-spot {
                background-color: #cbe78a;
                border-radius: 50%;
                height: 35px;
                width: 160px;
                position: absolute;
                z-index: -1;
            }

            .own {
                margin-top: 152px;
                margin-left: -200px;
            }

            .enemy {
                margin-top: 84px;
                margin-right: -200px;
            }
        }

        .stats {
            display: flex;
            justify-content: space-between;
            margin-bottom: -30px;
            padding: 8px;

            text-transform: capitalize;

            font-weight: 800;
            font-family: Roboto;
            font-size: 11pt;
            color: black;

            .enemy-stats {
                .row2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            .row1 {
                display: flex;
                justify-content: space-between;

                span {
                    padding: 4px;
                }

                .current-hp {
                    color: #5ba668;
                }
            }

            .row2 {
                border: 1px solid white;
                border-radius: 5px;

                .total-hp-graphic {
                    width: 160px;
                    height: 7px;
                    background-color: #5ba6675b;
                    border-radius: 5px;
                }
                .current-hp-graphic {
                    width: 100%;
                    height: 7px;
                    background-color: #5ba668;
                    border-radius: 5px;
                    margin-top: -7px;
                    transition: all 1s cubic-bezier(0.42, 0, 0.58, 1);
                }
            }
        }
    }

    .secondary-display {
        width: 325px;
        height: 245px;
        border-radius: 3px;
        background: rgb(46,158,144);
        background: radial-gradient(circle, rgba(46,158,144,1) 0%, rgba(91,185,34,1) 63%, rgba(158,241,129,1) 100%);

        .moves-display {
            background-color: rgba(0, 0, 0, 0.541);
            color: white;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: flex-end;
            height: 92%;
            padding: 10px;

            .move {
                background-color: red;
                display: flex;
                height: 40px;
                width: 50%;
                text-align: end;
                padding-right: 20px;
                line-height: 2;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
            }
        }
    }

    .flicker {
		background-color: rgb(0, 255, 34);
        width: 5px;
        height: 10px;
        margin-left: 466px;
        margin-top: -10px;
        border-radius: 10px 10px 10px 10px; 
		animation: flicker 3s linear infinite;
        mix-blend-mode: color-dodge;
    }

    .flicker2 {
		background-color: rgba(0, 195, 255, 0.986);
        width: 5px;
        height: 10px;
        margin-left: 412px;
        margin-top: 34px;
        border-radius: 10px 10px 10px 10px; 
		animation: flicker2 6s ease-in-out infinite;
        mix-blend-mode: color-dodge;
    }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .4;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.99;
	}
}

@keyframes flicker2 {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: 1;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.2;
	}
}


.light-overlay {
    // background-size: cover;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, $light-color, rgba(255, 255, 255, 0));;
    background-blend-mode: overlay;
    mix-blend-mode: overlay;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}



.pkmn {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.pkmn-own {
    margin-bottom: -79px;
}
